<script type="text/javascript" src="/assets/jquery.mb.YTPlayer.js"></script>
<script type="text/javascript">
    jQuery(function(){
      
        jQuery("#bgndVideo").mb_YTPlayer();
    $('html, body').delay(1000).animate({ scrollTop: 196 }, 1000);
    });
</script>


<div id="wrapper">
    <div class="grid_12">
            <div class="error_message">
         <p class="error_large">Uh oh...</p>
    <p class="error_small">It looks like we've crashed. If you followed a link on the site here, please contact <a href="mailto:dls148@case.edu">dls148@case.edu</a></p>
    </div>
   
    </div>
    <a id="bgndVideo" href="http://www.youtube.com/watch?v=_KOpOSkjImc" class="movie {opacity:1, isBgndMovie:{width:'window',mute:true}, optimizeDisplay:true, showControls:true, ratio:'4/3', loop: false, quality:'large',addRaster:true, lightCrop:false}"></a>
