<script>
jQuery(document).ready(function($) {

	$('.carousel').bjqs({
		'animation' : 'slide',
		'width' : 960,
		'height' : 400,
		'showcontrols' : false,
		'showmarkers' : false,
		responsive : false
	});
	

});
</script>

<div class="carousel">
	<ul class="bjqs">
		<% @carousels.each do |c| %>
		<li>
			<img src="<%=c.picture_url%>">
		</li>
		<% end %>
	</ul>
</div> 
<br />
<hr class="soften">
<div class="grid_8">
	<% @blogs.each do |blog| %>
	<span class="title">
		<%= blog.title.upcase%>
	</span>
	
	<br />
	<div class="content">
		<%= simple_format(blog.contents, {}, :sanitize => false) %>
	</div>
	
	<% end %>

	<div class="more_blogs">
		<a href="/blogs">more posts »</a>

	</div>
</div>
<div class="grid_4">
	<iframe height='160' width='320' frameborder='0' allowtransparency='true' scrolling='no' src='http://app.strava.com/clubs/case-cycling-team/latest-rides/25bf8a0750f6b94c825996816629caf83f3fc5b7?show_rides=false'></iframe>

	<br /><br />
	<script async src="https://d36hc0p18k1aoc.cloudfront.net/public/js/modules/tintembed.js"></script><div class="tintup" data-id="casecycling/twitter" data-columns="1"  style="height:265px;width:310px;"></div>

	
	<br /> <br />
	<iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FCaseCycling&amp;width=310&amp;height=62&amp;colorscheme=light&amp;show_faces=false&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:310px; height:62px;" allowTransparency="true"></iframe>
</div>

			
	
