<div class="grid_12">
	<h1>New Route</h1>

<p class="centered">To submit a ride, paste the Strava URL below. After being verified by a Case Cycling officer, it will be visible to the public.</p>

	<%= render 'form' %>
</div>


