<div class="grid_12">
		<div class="blog_post">
			<div class="title">
				<%= @blog.title %>
			</div>
			<div class="content">
				<%= simple_format(@blog.contents, {}, :sanitize => false) %>
			</div>			
		</div>
</div>