<div class="sponsorship">
	<div class="row">
		<div class="span12">
			<div class="cover">
				<h1 class="header">SPONSORSHIP 2014</h3>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="quote centered">
				<h1 class="header">"IT NEVER GETS EASIER, YOU JUST GO FASTER"</h1>
			<h3 class="centered">- Greg LeMond, 3 time Tour de France winner & first American to win</h3>
			</div>
		</div>
	</div>
		
	<div class="president">
		<h1 class="header">FROM THE PRESIDENT</h1>
		<p>The Case Cycling Team, comprised of 30 student athletes from Case Western Reserve University,
			is committed to excellence in the classroom and on the bike.</p>
		<p>As we enter the 2014 season, we would like to take a moment to tell you more about our team, share
			our recent accomplishments, and explain what your sponsorship will mean to us.</p>
		<p>In the pages that follow, we hope to share our passion for cycling and explain the value of partnering
			with us as we spend the upcoming season traveling to races and hosting several of our own.</p>
		<p>Should you have any questions or wish to get in touch, the sponsorship form below contains our contact information.</p>
		<p>Sincerely,</p>
		<b class="sub_header">Eric Silverman, Club President</b><br>
	</div>
	<div class="mission">
		<img src="/assets/sponsorship/mission.png" alt="Our Mission" class="centered_img">
		<h1 class="header">OUR MISSION</h1>
		<p>As an entirely student run organization, Case Cycling is built on the passion and dedication of its members. Our goal is to send
			riders to 20 races across three disciplines this year. Without your support this is not possible. For the 2014 season, our target
			is to raise $10,000 to subsidize travel, lodging, entry fees, and equipment for collegiate races. With your help, we can secure the
			future of cycling at Case Western Reserve University.</p>
	</div>
	<div class="giving_back">
		<h1 class="header">GIVING BACK</h1>
		<p>In addition to leading rides from our campus, we assist the community in charitable causes and local events.</p>
		<p>Members of Case Cycling worked in conjunction with Bike Cleveland to run a bike safety check, ensuring that community bikes were safe
			for National Bike to Work Day.</p>
		<p>Between an on-call Fix My Bike service and a biannual bike tune-up event for University Circle residents, club members repaired over 100
			bikes and instructed attendees on basic principles for proper bicycling maintenance.</p>
		<p>This season, we plan to co-host the NEOCX Season Finale on December 14 with Fast Track Cycling. We are also working towards hosting our first
			collegiate track race in the fall, and a collegiate road race in the spring. These events will provide our team with valuable racing and
			leadership experience, and offer additional sponsorship opportunities.</p>
	</div>
		<div class="row">
		<div class="span12">
			<div class="quote centered">
				<h1 class="header">"WHENEVER I SEE AN ADULT ON A BICYCLE, I HAVE HOPE FOR THE HUMAN RACE"</h1>
			<h3 class="centered">- H.G. Wells, Author</h3>
			</div>
		</div>
	</div>
	<div class="history">
		<h1 class="header">HISTORY</h1>
		<p>Established in 1999, the Case Cycling Club has always been led by committed students. Focused primarily on the road season, we have had
			our share of successes within the Midwest Collegiate Cycling Conference (MWCCC) and other USAC sanctioned races over the past season</p>
		<b class="sub_header">ROAD</b>
			<ul>
				<li>1st place, Road Regionals Team Time Trial (M)</li>
				<li>1st place, DePauw Criterium (M)</li>
				<li>1st place, Michigan State University Road Race (W)</li>
				<li>2nd place, University of Michigan Road Race (W)</li>
				<li>Numerous top 5 finishes</li>
				<li>Qualified for USA Collegiate Nationals</li>
			</ul>
		<b class="sub_header">TRACK</b>
		<ul>
			<li>1st place, 2012 Collegiate Division II Track Regionals Omnium</li>
			<li>1st place, Ohio State Track Championship 2012 Omnium (W 17-18)</li>
			<li>1st place, Ohio State Track Championship 2012 Omnium (W 19-34)</li>
			<li>3rd place, Ohio State Track Championship 2012 Omnium (M 19-34)</li>
			<li>1st place, Ohio State Track Championship 2013 Ominum (W 19-34)</li>
		</ul>
		<b class="sub_header">CYCLOCROSS</b>
		<ul>
			<li>3rd place, NEOCX 2012 Omnium (W)</li>
			<li>Qualified for USA Collegiate Nationals</li>
		</ul>
		<img src="/assets/sponsorship/history.png" alt="Preparing for a race" id="history_1">
	</div>
	<div class="statements">
		<b class="sub_header">NEW ADDITIONS: TRACK AND CYCLOCROSS</b>
		<p>2012 marked Case Cycling’s first foray into the disciplines of cyclocross and track. Despite this being foreign territory for most of our racers, Case won the Division II title at the MWCCCTrack Regionals in Indianapolis, IN and competed at Collegiate Cyclocross Nationals in Madison, WI. With cyclocross booming throughout the Midwest, we see this discipline as a key area of growth. In the years to come, we hope to expand participation and continue to excel at races, building on our strengths and creating a national-caliber cycling program. </p>
		<br>
		<b class="sub_header">GOALS</b>
		<p>In the world of collegiate cycling, few schools have top-ranked academics and nationally-recognized athletics; we plan to excel in both. Last year, Case's cycling program saw immense growth and development, becoming the number-one-ranked collegiate team in Ohio and achieved its first ever national ranking in the team's 14 year history. As the program continues to expand, our goal is to recruit students with a passion for both academic endeavors and cycling.</p>
	</div>
		<div class="row">
		<div class="span12">
			<div class="quote centered">
				<h1 class="header">"AS LONG AS I BREATHE, I ATTACK."</h1>
			<h3 class="centered">- Bernard Hinault, winner of all 3 grand tours</h3>
			</div>
		</div>
	</div>
	<div class="levels">
		<h1 class="header">SPONSORSHIP LEVELS</h1>
		<p>This year we are excited to offer several levels of annual sponsorship. Your contributions will allow us to maintain our current activities as well as expand and remain competitive. <i>Please note that we will be happy to work with you to find a sponsorship package that best suits you. </p>
			</i>
			<br>
		<b class="sub_header">GC</b><i class="descriptor">The overall time leader of a race</i>
		<ul>
			<li>Limited to one sponsor</li>
			<li>Title logo on team jersey</li>
			<li>Logo on team tent</li>
			<li>All benefits included in the <b>BREAKAWAY</b> sponsorship level</li>
		</ul>
		<b class="sub_header">BREAKAWAY</b><i class="descriptor">The group of riders attempting to escape the peloton</i>
		<ul>
			<li>Primary logo on team jersey</li>
			<li>Company sign at races</li>
			<li>Primary logo placement on flyers and posters</li>
			<li>Primary logo placement and link on team website</li>
			<li>Active social media promotion and video features</li>
			<li>Complimentary team jersey</li>
			<li>Signed team photo</li>
		</ul>
		<b class="sub_header">PELOTON</b><i class="descriptor">The large group of riders working to get their team leaders to the finish line</i>
		<ul>
			<li>Company sign at races</li>
			<li>Secondary logo placement on flyers and posters</li>
			<li>Secondary logo placement on team website</li>
			<li>Signed team photo</li>
		</ul>
		<b class="sub_header">TEAM SUPPORTER: NON-MONETARY OR BELOW PELOTON</b><i class="descriptor">A team is only as good as its supporters</i>
		<ul>
			<li>Acknowledgement on team website</li>
		</ul>
		<h3 class="header centered">Team Jersey Sponsorship Deadline: <b>September 15th, 2013</b></h3>
		<img src="/assets/sponsorship/levels.png" alt="Sponsorship Levels" id="levels_img">
	</div>
	<div class="thanks">
		<h1 class="centered">Please contact us at <a href="mailto:casecycling@gmail.com">casecycling@gmail.com</a> if you are interested in sponsoring the team</h1>
		<img src="/assets/sponsorship/team.png" alt="Team photo">
		<h1 class="header centered">THANK YOU FOR YOUR SUPPORT!</h1><br>
	</div>
</div>
