// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title{
	font-family: 'Titillium Web', sans-serif;
	color: #003755;
	font-size: 20px;
	font-style: lowercase;
	font-weight: 600;
}

.content{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}