.officer{
	text-align: center;
}

.position{
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 10px;
}
.title a{text-decoration: none;}

.details{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.member{
	text-align: center;
}

.member_section{
	h2{
		font-family: 'Titillium Web', sans-serif;
		font-size: 24px;
	}
}
