.officer{
	text-align: center;
}

.title{
	font-family: 'Titillium Web', sans-serif;
	margin-bottom: 10px;
}

.details{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.member{
	text-align: center;
}