
  <div class="grid_12">
    <center>
      
        </p> 
        <!-- /info -->
        <br>
        <p id="postTitle"><b>Clothing Orders Are Currently:</b> Open</p><br>
        <ul id="contentText" class="unbulleted">
          
             <li>We are currently accepting orders for our 2014 kit.<li>
          <li>To order, visit our Castelli team page <a href="https://teamorder.serviziocorse.com/index.aspx?pc=5FBCE09D-A574-450F-81FF-B14251B736E7">here</a> and make an account<li>            
        </ul><br>
      
      </center>
      <div id="slider-three">
      <% @clothing_items.each do |c| %>
        <div>
          <img src="<%= c.picture_url %>" alt="" />
          <p><%= c.name %><br />
          </p>                              
        </div>   
      <% end %>
      </div>
    </div>