
  <div class="grid_12">
    <center>      
        </p> 
        <!-- /info -->
        <br>
        <p id="postTitle"><b>Clothing Orders Are Currently:</b> Open</p><br>
        <ul id="contentText" class="unbulleted">
          
          <li>We are currently accepting orders for our 2014 kit.<li>
          <li class="a_visible">To order, visit our Castelli team page <a href="https://teamorder.serviziocorse.com/index.aspx?pc=5FBCE09D-A574-450F-81FF-B14251B736E7">here</a> and make an account<li>            
        </ul><br>
      
      </center>
      <div id="slider-three">
      <% @clothing_items.each do |c| %>
        <div>
          <img src="<%= c.picture_url %>" alt="" />
          <p class="clothing_label"><%= c.name %><br />
          </p>                              
        </div>   
      <% end %>
      </div>
</div>
<div class="grid_12">
   <div >
      <b id="postTitle"> Items Available </b>
       </br> </br>
      <table id="contentText" class="clothing_items">
        <thead>
          <tr>
            <td width="85px"></td>
            <td><b>Item</b></td>
            <td><b>Mens</b></td>
            <td><b>Womens</b></td>
            <td><b>Status (# To Meet Minimums)</b></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Aero Race 4.0 Jersey</td>
            <td>✓</td>
            <td></td>
            <td>10 Needed</td>
          </tr> 

           <tr>
            <td></td>
            <td>Team Jersey Covered Full Zip</td>
            <td>✓</td>
            <td>✓</td>  
            <td>10 Needed</td>          
          </tr>

          <tr>
            <td></td>
            <td>Team Long Sleeve Jersey Covered Full Zip</td>
            <td>✓</td>
            <td>✓</td>   
            <td>10 Needed</td>         
          </tr>

          <tr>
            <td></td>
            <td>Aero Race Bibshort</td>
            <td>✓</td>
            <td></td>
            <td>10 Needed</td>            
          </tr>

          <tr>
            <td></td>
            <td>Castelli Team Bibshort</td>
            <td>✓</td>
            <td>✓</td>
            <td>10 Needed</td>              
          </tr>

           <tr>
            <td></td>
            <td>Castelli Team Short</td>
            <td>✓</td>
            <td>✓</td> 
            <td>10 Needed</td>             
          </tr>

           <tr>
            <td></td>
            <td>Thermal Jacket</td>
            <td>✓</td>
            <td>✓</td>   
            <td>10 Needed</td>           
          </tr>

           <tr>
            <td></td>
            <td>Speedsuit</td>
            <td>✓</td>
            <td>✓</td> 
            <td>10 Needed</td>             
          </tr>

          <tr>
            <td></td>
            <td>Thermoflex Arm Warmer</td>
            <td>✓</td>
            <td>✓</td>  
            <td>10 Needed</td>            
          </tr>

          <tr>
            <td></td>
            <td>Lycra Shoe Cover</td>
            <td>✓</td>
            <td>✓</td>  
            <td>10 Needed</td>            
          </tr>
          
        </table>
      </div>
</div>

   
