	<span id="navBottom">
<footer>
  <small>
    <ul>
      <li>
        © <%= Time.now.year%> Case Cycling Club | 
      </li>
      <li><a href="mailto:contactcasecycling@gmail.com">contactcasecycling@gmail.com</a> | </li>
      <li>Site by Daniel Segal</li>
      <li><a href="mailto:dls148@case.edu">(dls148@case.edu)</a></li>
    </ul>
  </small>
</footer>
</span>