	<span id="navBottom">

  <small>
    <ul>
      <li>
        © 2014 Case Cycling Club | 
      </li>
      <li><a href="mailto:cycling@case.edu">contactcasecycling@gmail.com</a> | </li>
      <li>Site by Daniel Segal</li>
      <li><a href="mailto:dls148@case.edu">(dls148@case.edu)</a></li>
    </ul>
  </small>
</footer>
</span>