<!DOCTYPE html>
<html>
<head>
  <title>CaseCyclingPublic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/bjqs1-3.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Titillium+Web:600,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
	<img id="header_logo" src="/assets/header_logo.png" alt="Case Cycling Team">
	<ul class="nav_items dropdown">
			<li class="top_item"><a href="/">home</a></li>
			<li class="top_item"><a href="/members">members</a></li>
			<li class="top_item"><a href="/sponsorship_offers">the blog</a></li>
			<li class="top_item"><a href="/documents">the sponsors</a></li>
			<li class="top_item"><a href="/workouts">the clothing</a></li>
			<li class="top_item"><a href="/workouts">about us</a></li>
			<li class="top_item"><a href="/workouts">contact</a></li>
			<!-- <li><a href="#">administration</a>
				<ul class="sub_menu">
        			<li class="dropdown_item"><a href="/members">Members</a></li>
        			<li class="dropdown_item"><a href="/blogs">Blogs</a></li>
        			<li class="dropdown_item"><a href="/events">Events</a></li>
        			<li class="dropdown_item"><a href="/rides">Rides</a></li>
        			<li class="dropdown_item"><a href="/routes">Routes</a></li>
        			<li class="dropdown_item"><a href="/clothing_items">Clothing</a></li>
        			<li class="dropdown_item"><a href="/media">Media</a></li>
        		</ul>

			</li> -->
		</ul>
</div>
<div class="container_12">
	<%= yield %>
</div>


</body>
</html>
